@(Html.Kendo().DataSource<Tacmin.Model.Rapor.RaporFirmaModel>()
    .Name("islemGridds")
    .Ajax(x => x.PageSize(20)

    )
)

<div class="row">
    <div class="col-md-12">
        @(
        Html.Ty().TyGrid<Tacmin.Model.Rapor.RaporFirmaModel>().Name("islemGrid")
        .Columns(c => {

            c.Bound(m => m.Unvan).Filterable(false);
            c.Bound(m => m.Mesaj).Filterable(false);
        })
        .Height(500)
        )
    </div>
</div>

<script>

    async function islemHatalariGridYukle() {

        const data_list = await $.ajax({

            url: "@Url.Action("IslemHataListesi", "rapor")",
            method : "GET"
        })

        try {

            const islemGrid = $("#islemGrid").data("kendoGrid")
            islemGrid.setDataSource(data_list)
        } catch (e) {

            console.log("")
        }
    }

</script>
