@(Html.Kendo().DataSource<Tacmin.Model.Rapor.RaporFirmaModel>()
    .Name("sgkGridds")
    .Ajax(x => x.PageSize(20)

    )
)

<div class="row">
    <div class="col-md-12">
        @(
        Html.Ty().TyGrid<Tacmin.Model.Rapor.RaporFirmaModel>().Name("sgkGrid")
        .Columns(c => {

            c.Bound(m => m.Unvan).Filterable(false);
            
        })
        .Height(500)
        )
    </div>
</div>

<script>

    async function sgkFirmaGridYukle() {

        const data_list = await $.ajax({

            url: "@Url.Action("SgkBilgisiEksikFirmalar", "rapor")",
            method : "GET"
        })

        try {

            const sgkGrid = $("#sgkGrid").data("kendoGrid")
            sgkGrid.setDataSource(data_list)
        } catch (e) {

            console.log("")
        }
    }

</script>
