@(Html.Kendo().DataSource<Tacmin.Model.HataGridModel>()
    .Name("hataGridds")
    .Ajax(x => x.PageSize(20)

    )
)

<div class="row">
    <div class="col-md-12">
        @(
        Html.Ty().TyGrid<Tacmin.Model.HataGridModel>().Name("hataGrid")
        .Columns(c=>
        {
            c.Bound(m => m.Unvan).Filterable(ftb => ftb.Multi(true).Search(true)).Width(400);
            c.Bound(m => m.Mesaj).Filterable(ftb => ftb.Multi(true).Search(true));

        })
        .Height(500)
       
        )
    </div>
</div>


