<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataIslemler.Properties.Settings.MUSAVIR_APP_TESTConnectionString"
            connectionString="Data Source=DESKTOP-LDDEBNJ;Initial Catalog=MUSAVIR_APP_TEST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataIslemler.Properties.Settings.MUSAVIR_APP_TESTConnectionString1"
            connectionString="Data Source=DESKTOP-LDDEBNJ;Initial Catalog=MUSAVIR_APP_TEST;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="DataIslemler.Properties.Settings.Yonetim_Musavir_DbConnectionString"
            connectionString="Data Source=DESKTOP-LDDEBNJ;Initial Catalog=Yonetim_Musavir_Db;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataIslemler.Properties.Settings.Msv_Db_00002ConnectionString"
            connectionString="Data Source=DESKTOP-LDDEBNJ;Initial Catalog=Msv_Db_00002;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataIslemler.Properties.Settings.Msv_Db_00004ConnectionString"
            connectionString="Data Source=DESKTOP-LDDEBNJ;Initial Catalog=Msv_Db_00004;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataIslemler.Properties.Settings.Msv_Db_00002ConnectionString1"
            connectionString="Data Source=DESKTOP-LDDEBNJ;Initial Catalog=Msv_Db_00002;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="DataIslemler.Properties.Settings.Yonetim_Musavir_DbConnectionString1"
            connectionString="Data Source=192.168.1.165;Initial Catalog=Yonetim_Musavir_Db;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Mef" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.0" newVersion="6.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS_SgkIseGirisPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="WS_SgkIseGirisPortBinding1" />
        <binding name="WS_SgkIstenCikisPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="WS_SgkIstenCikisPortBinding1" />
        <binding name="WS_SgkIstenCikisPortBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="WS_SgkIstenCikisPortBinding3" />
        <binding name="WS_SgkIstenCikisPortBinding4">
          <security mode="Transport" />
        </binding>
        <binding name="WS_SgkIstenCikisPortBinding5" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://uyg.sgk.gov.tr:443/WS_SgkTescil4a/WS_SgkIseGirisService"
        binding="basicHttpBinding" bindingConfiguration="WS_SgkIseGirisPortBinding"
        contract="IseGirisService.WS_SgkIseGiris" name="WS_SgkIseGirisPort" />
      <endpoint address="https://uyg.sgk.gov.tr:443/WS_SgkTescil4a/WS_SgkIstenCikisService"
        binding="basicHttpBinding" bindingConfiguration="WS_SgkIstenCikisPortBinding"
        contract="IseCikisService.WS_SgkIstenCikis" name="WS_SgkIstenCikisPort" />
      <endpoint address="https://uyg.sgk.gov.tr:443/WS_SgkTescil4a/WS_SgkIstenCikisService"
        binding="basicHttpBinding" bindingConfiguration="WS_SgkIstenCikisPortBinding2"
        contract="IseCikisService.WS_SgkIstenCikis" name="WS_SgkIstenCikisPort1" />
      <endpoint address="https://uyg.sgk.gov.tr:443/WS_SgkTescil4a/WS_SgkIstenCikisService"
        binding="basicHttpBinding" bindingConfiguration="WS_SgkIstenCikisPortBinding4"
        contract="IseCikisService.WS_SgkIstenCikis" name="WS_SgkIstenCikisPort2" />
    </client>
  </system.serviceModel>
</configuration>