
@(Html.Kendo().DataSource<Tacmin.Model.Kasa.KasaIslemListeModel>()
    .Name("grid_tumds")
    .Ajax(x => x.PageSize(20)
    )
)


<div class="row">
    <div class="col-md-12">
        @(
         Html.Ty().TyGrid<Tacmin.Model.Kasa.KasaIslemListeModel>().Name("grid_tum")
         .Columns(c=>
         {
             c.Bound(m => m.Tarih).Filterable(ftb => ftb.Multi(true).Search(true)).Format("{0:dd/MM/yyyy}").Width(120);
             c.Bound(m => m.IslemTur).Filterable(ftb => ftb.Multi(true).Search(true));
             c.Bound(m => m.Aciklama).Filterable(ftb => ftb.Multi(true).Search(true));
             c.Bound(m => m.GirenTutar).Filterable(ftb => ftb.Multi(true).Search(true)).Format("{0:n2}")
             .HtmlAttributes(new { @class = "text-right" }).Width(175);
             c.Bound(m => m.CikanTutar).Filterable(ftb => ftb.Multi(true).Search(true)).Format("{0:n2}")
             .HtmlAttributes(new { @class = "text-right" }).Width(175);
             c.Bound(m => m.Bakiye).Filterable(ftb => ftb.Multi(true).Search(true)).Format("{0:n2}")
            .HtmlAttributes(new { @class = "text-right" }).Width(175);

         })
         .Height(230)
        )
    </div>
</div>


<script>

    function tarih_func(tarih_value) {

        if (tarih_value) {

            let yil = tarih_value.getFullYear().toString();
            let ay = (tarih_value.getMonth() + 1).toString();
            let gun = tarih_value.getDate().toString();

            if (gun.length === 1) {
                gun = "0" + gun;
            }
            if (ay.length == 1) {
                ay = "0" + ay;
            }
            return yil + "/" + ay + "/" + gun;
        }
    }





</script>

<style>
</style>
