@{
    Title = "Anasayfa";
}
<div class="row">
    <div class="col-md-12">

    </div>
</div>



<script>
    

</script>

<style>
    .title_css {
        color: red;
        font-weight: bold;
    }

    .table_css .k-header {
        background-color: blue;
        color: white;
        font-weight: bold;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .k-card {
        width: 285px;
        margin: 5%;
    }

    .k-card-footer {
        text-align: center;
    }



    .k-picker.k-dropdownlist {
        width: 140px;
    }

    .text_card_css {
        font-size: 12px;
        font-weight: bold;
        margin-top: 15px;
        width: 100%;
    }

    .card {
        box-shadow: 10px 10px 10px teal;
        height: 75px;
        width: 100%;
    }

    .card-header {
        width: 100%;
        align-content: center;
        font-weight: bold !important;
        font-size : 12px;
    }

    .btn {
        width: 100%;
    }
</style>